{{template "base" .}}

{{define "title"}}All Requests{{end}}

{{define "body"}}
    {{$department := capitalizeFirstLetter .Department}}
    <h2>All {{$department}} Work Orders <a href="/{{$department}}/request/incomplete">(View Incomplete)</a></h2>
    {{if .Requests}}
     <table>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Created On</th>
            <th>Created By</th>
            <th>Status</th>
        </tr>
        {{range .Requests}}
        <tr>
            <td><a href='/{{$department}}/request/{{.ID}}'>{{.Title}}</a></td>
            <td>{{.Location.Title}}</td>
            <td>{{humanDate .Created}}</td>
            <td>{{.CreatedBy.FullName}}</td>
            <td>{{.RequestStatus.Title}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>No {{$department}} requests have been created.</p>
    {{end}}
    {{template "newRequestBtn" .}}
{{end}}