{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - SuiteNet</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='stylesheet' href='/static/css/dashboard.css'>
        <link rel='stylesheet' href='/static/css/four-oh.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
        <link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1><a href='/'>SuiteNet</a></h1>
        </header>
        {{if .AuthenticatedUser}}
        <nav>
            <div>
                <a href='/'>Dashboard</a>
                <a href='/engineering/request/incomplete'>Engineering</a>
                <a href='/housekeeping/request/incomplete'>Housekeeping</a>
            </div>
            <div>
                    {{if rolesContain .AuthenticatedUser.SiteRoles "admin"}}<a href=/user/signup>Admin</a>{{end}}
                    {{$direction := "In"}}
                    {{if .AuthenticatedUser.ClockedIn}}{{$direction = "Out"}}{{end}}
                    <a href="/user/clock/{{$direction}}" 
                        {{if .AuthenticatedUser.ClockedIn}}
                            onClick="alert('You are off shift.\n\nYou will not receive text notifications for new requests assigned to you.')"
                        {{else}}
                            onClick="alert('You are on shift.\n\nYou will receive text notifications for new requests assigned to you.')"
                        {{end}}>Clock {{$direction}}</a>
                    <form action='/user/logout' method='POST'>
                        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                        <button>Logout ({{.AuthenticatedUser.FullName}})</button>
                    </form>

            </div>
        </nav>
        {{end}}
        <section>
            {{with .Flash}}
            <div class='flash '>{{.}}</div>
            {{end}}
            {{template "body" .}}
        </section>
        {{template "footer" .}}
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}