{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - SuiteNet</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='stylesheet' href='/static/css/dashboard.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1><a href='/'>SuiteNet</a></h1>
        </header>
        {{if .AuthenticatedUser}}
        <nav>
            <div>
                <a href='/'>Dashboard</a>
                <a href='/engineering'>Engineering</a>
                
            </div>
            <div>
                    <form action='/user/logout' method='POST'>
                        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                        <button>Logout ({{.AuthenticatedUser.FullName}})</button>
                    </form>
                <!-- <a href='/user/signup'>Signup</a> -->
                <!-- <a href='/user/login'>Login</a> -->              
            </div>
        </nav>
        {{end}}
        <section>
            {{with .Flash}}
            <div class='flash '>{{.}}</div>
            {{end}}
            {{template "body" .}}
        </section>
        {{template "footer" .}}
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}