{{template "base" .}}

{{define "title"}}Reset Password{{end}}

{{define "body"}}
<form action='/user/resetPassword' method='POST' novalidate autocomplete="off">
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
        <div>
            <label>Username:</label>
            {{with .Errors.Get "username"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='text' name='username' value='{{.Get "username"}}'>
        </div>
        <div>
            <label>Password:</label>
            {{with .Errors.Get "password"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='password' name='password'>
        </div>
        <div>
            <input type='submit' value='Signup'>
        </div>
    {{end}}
</form>
{{end}}