{{template "base" .}}

{{define "title"}}Create Request{{end}}

{{define "body"}}
{{$department := capitalizeFirstLetter .Department}}
<form action='/{{$department}}/request/create' method='POST' autocomplete="off">
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div>
        <h2>Create {{$department}} Request</h2>
    </div>
    <div>
        <label>Title:</label>
        {{with .Form.Errors.Get "title"}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='title' value='{{.Form.Get "title"}}'>
    </div>
    <div>
        <label>Location:</label>
        {{with .Form.Errors.Get "location"}}
            <label class='error'>{{.}}</label>
        {{end}}
        <select name="location">
            {{range .Locations}}
            <option value="{{.ID}}">{{.Title}}</option>
            {{end}}
        </select>
    </div>
    <div>
        <label>Assign to:</label>
        {{with .Form.Errors.Get "assigned_to"}}
            <label class='error'>{{.}}</label>
        {{end}}
        <select name="assigned_to">
            {{range .Users}}
            <option value="{{.ID}}">{{.FullName}}</option>
            {{end}}
        </select>
    </div>
    <div>
        <label>Note:</label>
        {{with .Form.Errors.Get "note"}}
            <label class='error'>{{.}}</label>
        {{end}}
        <textarea name='note'>{{.Form.Get "note"}}</textarea>
    </div>
    <div class="btn-group">
        <input type='submit' value='Create Request'>
    </div>
</form>
{{end}}