{{template "base" .}}

{{define "title"}}Dashboard{{end}}

{{define "body"}}
    <section class ="page-content">
        <section class="grid">
            <article><div class="title">The Dashboard is currently under construction.</div></article>
            <article>
                <!--<div class="title">Open Requests</div>-->
            </article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </section>
    </section>
{{end}}