{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
    <h2>Incomplete Work Orders</h2>
    {{if .WorkOrders}}
     <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Status</th>
        </tr>
        {{range .WorkOrders}}
        <tr>
            <td><a href='/engineering/workOrder/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>{{.Status}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>All maintenance requests are complete!</p>
    {{end}}
{{end}}