{{template "base" .}}

{{define "title"}}All Work Orders{{end}}

{{define "body"}}
    <h2>All Work Orders <a href="/engineering">(View Incomplete)</a></h2>
    {{if .WorkOrders}}
     <table>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Created On</th>
            <th>Created By</th>
            <th>Status</th>
        </tr>
        {{range .WorkOrders}}
        <tr>
            <td><a href='/engineering/workOrder/{{.ID}}'>{{.Title}}</a></td>
            <td>{{.Location.Title}}</td>
            <td>{{humanDate .Created}}</td>
            <td>{{.CreatedBy.FullName}}</td>
            <td>{{.RequestStatus.Title}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>No work order has been created.</p>
    {{end}}
    <div class="btn-group">
        <a href="/engineering/workOrder/create">Create Work Order</a>
    </div>
{{end}}