{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
    <h2>Incomplete Maintenance Requests</h2>
    {{if .MaintenanceRequests}}
     <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Status</th>
        </tr>
        {{range .MaintenanceRequests}}
        <tr>
            <td><a href='/maintenanceRequest/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>{{.Status}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>All maintenance requests are complete!</p>
    {{end}}
{{end}}