{{template "base" .}}

{{define "title"}}Maintenance Request{{end}}

{{define "body"}}
    {{with .MaintenanceRequest}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>Status: {{.Status}}</span>
        </div>
        <pre><code>{{.Description}}</code></pre>
        <div class='metadata'>
            <time>Created: {{humanDate .Created}}</time>
            <span>Created by: USER</span>
        </div>
    </div>
    {{end}}
{{end}}
