{{template "base" .}}

{{define "title"}}Maintenance Request{{end}}

{{define "body"}}

    {{with .Request}}
        <div class='snippet'>
            <div class='metadata'>
                <strong>{{.Location.Title}} - {{.Title}}</strong>
                <span>Status: {{.RequestStatus.Title}}</span>
            </div>
            {{if .Notes}}
                {{range .Notes}}
                    <pre><code>{{.Content}} - <i>{{.CreatedBy.FullName}} ({{humanDate .Created}})</i></code></pre>
                {{end}}
            {{else}}
            <pre><code>This work order has no notes.</code></pre>
            {{end}}
            <div class='metadata'>
                <time>Created: {{humanDate .Created}}</time>
                {{if not .RequestStatus.IsClosed}}<a id="addNoteBtn">Add Note</a>{{end}}
                <span>Created by: {{.CreatedBy.FullName}}</span>
            </div>
        </div>
    {{end}}
    
    <div class="btn-group">
    {{if not .Request.RequestStatus.IsClosed}}
        <form class="btn-group" action='/engineering/workOrder/{{.Request.ID}}/close' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            <input type='submit' value='CLOSE'>
        </form>
        
    {{else}}
        <form action='/engineering/workOrder/{{.Request.ID}}/reopen' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            <div>
                <input type='submit' value='RE-OPEN'>
            </div>
        </form>
    </div>
    {{end}}
    <div id="addNoteModal" class="modal">
        <div class="modal-content">
            <strong>{{.Request.Location.Title}} - {{.Request.Title}}</strong>
            <span class="close">&times;</span>
            <form action='/engineering/workOrder/{{.Request.ID}}/addNote' method='POST'>
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <div>
                    <label>Note:</label>
                    <textarea name='note'></textarea>
                </div>
                <div>
                    <input type='submit' value='SUBMIT NOTE'>
                </div>
            </form>
        </div>
    </div>
{{end}}
