{{template "base" .}}

{{define "title"}}Maintenance Request{{end}}

{{define "body"}}
    {{with .WorkOrder}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>Status: {{.Status}}</span>
        </div>
        <pre><code>{{.Description}}</code></pre>
        <div class='metadata'>
            <time>Created: {{humanDate .Created}}</time>
            <span>Created by: {{.CreatedBy}}</span>
        </div>
    </div>
    {{end}}
    {{if ne .WorkOrder.Status "COMPLETE"}}
    <form action='/engineering/workOrder/{{.WorkOrder.ID}}' method='POST'>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <div>
            <input type='submit' value='Complete'>
        </div>
    </form>  
    {{end}}
{{end}}
